.vs/
*.vsidx
/.env
!Dario.Service.Card.API/.env
.idea
*.Cache
*.Publish.xml
*.aps
*.build.csdef
*.dbmdl
*.gpState
*.ilk
*.log
*.meta
*.ncb
*.ncrunch*
*.obj
*.bin
*.opensdf
*.pch
*.pdb
*.pgc
*.pgd
*.psess
*.rsp
*.sbr
*.sdf
*.sln.docstates
*.suo
*.tar
*.tar
*.tlb
*.tlh
*.tli
*.tmp
*.user
*.vsp
*.vspscc
*.vspx
*.vssscc
*_i.c
*_p.c
.*crunch*.local.xml
.builds
.env
.idea
.vs/
AppPackages/
Backup*/

.PVS-Studio
RayanparsiPackages/
bin/
obj/
