DB_CONNECTION_STRING=User Id=DARIOCARD;Password=Rayanparsi1900y;Data Source=192.168.13.12:1521/FREEPDB1;Pooling=true;Min Pool Size=1;Max Pool Size=100

DB_QUERY_CONNECTION_STRING=User Id=DARIOCARD;Password=Rayanparsi1900y;Data Source=192.168.13.12:1521/FREEPDB1;Pooling=true;Min Pool Size=1;Max Pool Size=100;Validate Connection=true

SQLSERVER_CONNECTION_STRING=Server=,1433;Database=DarioCard;User Id=sa;Password=;Encrypt=False;TrustServerCertificate=True

DB_SQL_QUERY_CONNECTION_STRING=

CARD_ENCRYPTION_KEY=19F83D0DFDE6C9ECE44B735AF7DEC8B3

OTEL_EXPORTER_OTLP_ENDPOINT=http://192.168.13.11:4317
OTEL_EXPORTER_OTLP_PROTOCOL=grpc

SERVICE_PORT=13276